*, html, body, div, table {
  border: 0;
  margin: 0;
  padding: 0;
  cursor: url('assets/img/cursor.svg'), default;
}

a,a:link,a:visited,a:hover,a:active{
  text-decoration: none;
  color:inherit;
}
